{% extends 'base.html' %}

{% block title %} <title> All List</title> {% endblock title %}

{% block body %}
<h1>This is List page</h1>
<br>
<h4>{{artist_info.first_name}} {{artist_info.last_name}} {{artist_info.instrument}}</h4>
{% for j in album_list%}
<h4>artist rating: {{j.num_stars}}</h4>
{% endfor %}
<a href="{% url 'edit' idik=artist_info.id%}" class="btn btn-success btn-sm">edit</a>
<hr>
<table class="table table-bordered">

<tr>
    <th>name</th>
    <th>release_date</th>
    <th>num_stars</th>
</tr>
{% for i in album_list %}
<tr>
    <td><a href="{% url 'update2' idki=i.id %}">{{i.name}}</a></td>
    <td>{{i.release_date}}</td>
    <td>{{i.num_stars}}</td>
</tr>

{% endfor%}
</table>

<a href="{% url 'delete' aid=artist_info.id %}" class="btn btn-danger btn-sm" onclick='return confirm('are u sure delete this permanently')'>delete</a>
{% endblock body %}